// Lost Grid v4.1.0 - https://github.com/corysimmons/lost

$gutter: 30px !default;
$rtl: false !default;


/// Sets a translucent background color to all elements it affects. Helpful while setting up, or debugging, the structure of your site to make sure all items are cleared correctly.
///
/// @param {color} $bg [blue] - A color to be lightened, so make sure you pick a darkish color.
///
/// @example
///   section {
///     @include edit(red);
///   }

@mixin edit($bg: blue) {
  * {
    background: rgba($bg, 0.1);
  }
}


/// Clearfix used to clear floated children blocks. http://nicolasgallagher.com/micro-clearfix-hack
///
/// @example
///   .parent {
///     @include cf;
///     .child {
///       @include block('1/2');
///     }
///   }

@mixin cf() {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}


/// Horizontally center a container element and apply padding to it.
///
/// @param {unit} $max-size [980px] - A max-width to assign. Can be any unit.
/// @param {unit} $pad [0] - Padding on the left and right of the element. Can be any unit.
///
/// @example
///   section {
///     @include center(900px);
///   }

@mixin center($max-size: 980px, $pad: 0) {
  @include cf;
  max-width: $max-size;
  padding-left: $pad;
  padding-right: $pad;
  margin-left: auto;
  margin-right: auto;
}


/// Vertically and/or horizontally align nested elements.
///
/// @param {string} $location [middle-center] - The position the nested element takes relative to the containing element.
/// @param {boolean} $flex [false] - Whether align() will use Flexbox to perform centering or not. Options are false or flex (for readability).
///
/// - reset
/// - top-left
/// - top-center or top
/// - top-right
/// - middle-left or left
/// - middle-right or right
/// - bottom-left
/// - bottom-center or bottom
/// - bottom-right
///
/// @example
///   .parent {
///     @include align;
///     width: 600px;
///     height: 400px;
///     .child {
///       width: 300px;
///       height: 150px;
///     }
///   }

@mixin align($location: middle-center, $flex: false) {
  @if ($flex == false) {
    position: relative;
    > * {
      position: absolute;
      @if ($location == reset) {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        transform: translate3d(0, 0, 0);
      } @else if ($location == top-left) {
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        transform: translate3d(0, 0, 0);
      } @else if ($location == top-center) or ($location == top) {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      } @else if ($location == top-right) {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translate3d(0, 0, 0);
      } @else if ($location == middle-left) or ($location == left) {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 0;
        transform: translate3d(0, -50%, 0);
      } @else if ($location == middle-right) or ($location == right) {
        top: 50%;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translate3d(0, -50%, 0);
      } @else if ($location == bottom-left) {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
      } @else if ($location == bottom-center) or ($location == bottom) {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      } @else if ($location == bottom-right) {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        transform: translate3d(0, 0, 0);
      } @else {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
  @if ($flex == flex) {
    display: flex;
    @if ($location == reset) {
      justify-content: inherit;
      align-items: inherit;
    } @else if ($location == top-left) {
      justify-content: flex-start;
      align-items: flex-start;
    } @else if ($location == top-center) or ($location == top) {
      justify-content: center;
      align-items: flex-start;
    } @else if ($location == top-right) {
      justify-content: flex-end;
      align-items: flex-start;
    } @else if ($location == middle-left) or ($location == left) {
      justify-content: flex-start;
      align-items: center;
    } @else if ($location == middle-right) or ($location == right) {
      justify-content: flex-end;
      align-items: center;
    } @else if ($location == bottom-left) {
      justify-content: flex-start;
      align-items: flex-end;
    } @else if ($location == bottom-center) or ($location == bottom) {
      justify-content: center;
      align-items: flex-end;
    } @else if ($location == bottom-right) {
      justify-content: flex-end;
      align-items: flex-end;
    } @else {
      justify-content: center;
      align-items: center;
    }
  }
}


/// Sass can't split strings natively. Thanks to @HugoGiraudel for https://github.com/at-import/SassyLists
///
/// @access private

@function sl-explode($string, $delimiter: '', $separator: "space") {
  @if type-of($string) != "string" {
    @warn "`sl-explode` function expecting a string; #{type-of($string)} given.";
    @return null;
  }
  @if type-of($delimiter) != "string" {
    @warn "`sl-explode` function expecting a string; #{type-of($delimiter)} given.";
    @return null;
  }
  $result: ();
  $length: str-length($string);
  @if not index("space" "comma", $separator) {
    $separator: "space";
  }
  @if str-length($delimiter) == 0 {
    @for $i from 1 through $length {
      $result: append($result, str-slice($string, $i, $i));
    }
    @return $result;
  }
  $running: true;
  $remaining: $string;
  @while $running {
    $index: str-index($remaining, $delimiter);
    @if not $index {
      $running: false;
    }
    @else {
      $slice: str-slice($remaining, 1, $index - 1);
      $result: append($result, $slice, $separator);
      $remaining: str-slice($remaining, $index + str-length($delimiter));
    }
  }
  @return append($result, $remaining, $separator);
}


/// Creates a block that is a fraction of the size of it's containing element with a gutter. Think of this like a column except it can go vertical as well by setting $dir to 'column' or 'both'. You don't need to pass any additional ratios (fractions) as the grid system will make use of calc(). Note that fractions must always be wrapped in quotes.
///
/// @param {string} $fraction ['1/1'] - This is a simple fraction of the containing element's width or height depending on $dir. This must be a string written as a fraction.
/// @param {string} $dir [row] - The direction of the grid. Can be row (horizontal grid), column (vertical grid), or both (waffle grid).
/// @param {number} $cycle [1] - Lost works by assigning a margin-right to all elements except the last in the row. It does this by default by using the denominator of the fraction you pick. To override this default use this param. e.g. block('2/4', $cycle: 2)
/// @param {number} $gut [$gutter] - The margin on the side of the element used to create a gutter. Typically this is left alone and the global $gutter will be used, but you can override it here if you want certain elements to have a particularly large or small gutter (pass 0 for no gutter at all).
/// @param {boolean} $masonry-friendly [false] - Dictates whether this particular group of elements will work well with JS masonry plugins. This will assign a margin on each side of the element and you will need to wrap this group of elements in a masonry-row().
///
/// @example
///   figure {
///     @include block('1/3');
///   }

@mixin block($fraction: '1/1', $dir: row, $cycle: nth(sl-explode($fraction, '/'), 2), $gut: $gutter, $masonry-friendly: false) {
  @if ($dir == row) {
    @if $masonry-friendly {
      margin-left: ($gut / 2);
      margin-right: ($gut / 2);
      &:nth-child(#{$cycle}n) {
        clear: none;
      }
      &:nth-child(#{$cycle}n + 1) {
        @if $rtl {
          clear: right;
        } @else {
          clear: left;
        }
      }
      @if ($gut == 0) {
        width: calc(99.999999% * #{$fraction});
      } @else {
        @if $masonry-friendly {
          width: calc(99.99% * #{$fraction} - #{$gut});
        } @else {
          width: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}));
        }
      }
    } @else {
      @if $rtl {
        margin-left: $gut;
      } @else {
        margin-right: $gut;
      }
      @if ($gut == 0) {
        width: calc(99.999999% * #{$fraction});
      } @else {
        @if $masonry-friendly {
          width: calc(99.99% * #{$fraction} - #{$gut});
        } @else {
          width: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}));
        }
      }
      @if $rtl {
        &:nth-child(n) {
          margin-left: $gut;
          float: right;
          clear: none;
        }
        &:last-child {
          margin-left: 0;
        }
        &:nth-child(#{$cycle}n) {
          margin-left: 0;
          float: left;
        }
        &:nth-child(#{$cycle}n + 1) {
          clear: right;
        }
      } @else {
        &:nth-child(n) {
          margin-right: $gut;
          float: left;
          clear: none;
        }
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(#{$cycle}n) {
          margin-right: 0;
          float: right;
        }
        &:nth-child(#{$cycle}n + 1) {
          clear: left;
        }
      }
    }
  } @else if ($dir == column) {
    @if ($gut == 0) {
      height: calc(99.999999% * #{$fraction});
    } @else {
      @if $masonry-friendly {
        height: calc(99.99% * #{$fraction} - #{$gut});
      } @else {
        height: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}));
      }
    }
    margin-bottom: $gut;
    &:last-child {
      margin-bottom: 0;
    }
  } @else {
    float: left;
    margin-right: $gut;
    @if ($gut == 0) {
      width: calc(99.999999% * #{$fraction});
      height: calc(99.999999% * #{$fraction});
    } @else {
      @if $masonry-friendly {
        width: calc(99.99% * #{$fraction} - #{$gut});
        height: calc(99.99% * #{$fraction} - #{$gut});
      } @else {
        width: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}));
        height: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}));
      }
    }
    @if $rtl {
      &:nth-child(n) {
        margin-left: $gut;
        clear: none;
      }
      &:nth-child(#{$cycle}n), &:last-child {
        margin-left: 0;
      }
      &:nth-child(#{$cycle}n + 1) {
        clear: right;
      }
    } @else {
      &:nth-child(n) {
        margin-right: $gut;
        clear: none;
      }
      &:nth-child(#{$cycle}n), &:last-child {
        margin-right: 0;
      }
      &:nth-child(#{$cycle}n + 1) {
        clear: left;
      }
    }
    margin-bottom: $gut;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-last-child(-n + #{$cycle}) {
      margin-bottom: 0;
    }
  }
}


/// Sass can't figure out what a number is. Thanks to @HugoGiraudel for http://hugogiraudel.com/2014/01/15/sass-string-to-number
///
/// @access private

@function _length($number, $unit) {
  $strings: 'px' 'cm' 'mm' '%' 'ch' 'pica' 'in' 'em' 'rem' 'pt' 'pc' 'ex' 'vw' 'vh' 'vmin' 'vmax';
  $units:   1px  1cm  1mm  1%  1ch  1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax;
  $index: index($strings, $unit);
  @if not $index {
    @warn "Unknown unit `#{$unit}`.";
    @return false;
  }
  @return $number * nth($units, $index);
}


/// @access private

@function number($string) {
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers:  0   1   2   3   4   5   6   7   8   9;
  $result: 0;
  $divider: 0;
  $minus: false;
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);
    @if $character == '-' {
      $minus: true;
    }
    @else if $character == '.' {
      $divider: 1;
    }
    @else {
      @if not $index {
        $result: if($minus, $result * -1, $result);
        @return _length($result, str-slice($string, $i));
      }
      $number: nth($numbers, $index);
      @if $divider == 0 {
        $result: $result * 10;
      }
      @else {
        $divider: $divider * 10;
        $number: $number / $divider;
      }
      $result: $result + $number;
    }
  }
  @return if($minus, $result * -1, $result);
}


/// Margin to the left, right, bottom, or top, of an element depending on if the fraction passed is positive or negative. It works for both horizontal and vertical grids but not both.
///
/// @param {string} $fraction ['1/1'] - Fraction of the container to be offset. Must be a string.
/// @param {string} $dir [row] - Direction the grid is going. Should match the block() it's being used on.
/// @param {number} $gut [$gutter] - How large the gutter involved is, typically this won't be adjusted, but if you have set the blocks for that row to have different gutters than default, you will need to match that gutter here as well.
///
/// @example
///   .two-elements {
///     @include block('1/3');
///     &:first-child {
///       @include offset('1/3');
///     }
///   }

@mixin offset($fraction: '1/1', $dir: row, $gut: $gutter) {
  $numerator: number(nth(sl-explode($fraction, '/'), 1));
  @if ($dir == row) {
    @if ($numerator > 0) {
      @if ($gut == 0) {
        margin-right: calc(99.999999% * #{$fraction}) !important;
      } @else {
        margin-right: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}) + (#{$gut} * 2)) !important;
      }
    } @else if ($numerator < 0) {
      @if ($gut == 0) {
        margin-left: calc(99.999999% * (#{$fraction} * -1)) !important;
      } @else {
        margin-left: calc(99.99% * (#{$fraction} * -1) - (#{$gut} - #{$gut} * (#{$fraction} * -1)) + #{$gut}) !important;
      }
    } @else {
      margin-left: 0 !important;
      margin-right: $gut !important;
    }
  } @else {
    @if ($numerator > 0) {
      @if ($gut == 0) {
        margin-bottom: calc(100% * #{$fraction}) !important;
      } @else {
        margin-bottom: calc(100% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}) + (#{$gut} * 2)) !important;
      }
    } @else if ($numerator < 0) {
      @if ($gut == 0) {
        margin-top: calc(100% * (#{$fraction} * -1)) !important;
      } @else {
        margin-top: calc(100% * (#{$fraction} * -1) - (#{$gut} - #{$gut} * (#{$fraction} * -1)) + (#{$gut} * 2)) !important;
      }
    } @else {
      margin-top: 0 !important;
      margin-bottom: $gut !important;
    }
  }
}


/// Source ordering. Shift elements left, right, up, or down, by their left or top position by passing a positive or negative fraction.
///
/// @param {string} $fraction ['1/1'] - Fraction of the container to be shifted. Must be a string.
/// @param {string} $dir [row] - Direction the grid is going. Should match the block() it's being used on.
/// @param {number} $gut [$gutter] - Adjust the size of the gutter for this movement. Should match the block's $gut.
///
/// @example
///   figure {
///     @include block('1/2');
///     &:first-child {
///       @include move('1/2');
///     }
///     &:last-child {
///       @include move('-1/2');
///     }
///   }

@mixin move($fraction: '1/1', $dir: row, $gut: $gutter) {
  position: relative;
  @if ($dir == row) {
    @if ($gut == 0) {
      left: calc(99.999999% * #{$fraction});
    } @else {
      left: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}) + #{$gut});
    }
  } @else {
    @if ($gut == 0) {
      top: calc(99.999999% * #{$fraction});
    } @else {
      top: calc(99.99% * #{$fraction} - (#{$gut} - #{$gut} * #{$fraction}) + #{$gut});
    }
  }
}


/// Creates a row element for working with JS masonry libraries like Isotope. Assigns a negative margin on each side of this wrapping element.
///
/// @param {number} $gut [$gutter] - How large the gutter involved is, typically this won't be adjusted and will inherit the global $gutter setting, but it's made available if you want your masonry grid to have a special $gut, it should match your blocks' $guts.
///
/// @example
///   section {
///     @include masonry-row;
///   }
///   figure {
///     @include block('1/3', $masonry-friendly: true);
///   }

@mixin masonry-row($gut: $gutter) {
  @include cf;
  margin-left: -($gut / 2);
  margin-right: -($gut / 2);
}


/// Reset so vertical grids work well.

html, body {
  height: 100%;
}
