// Lost Grid v2.0.2 - https://github.com/corysimmons/lost

$gutter = 30px
$rtl = false


/**
 * Sets a translucent background color to all elements it affects. Helpful while setting up, or debugging, the structure of your site to make sure all items are cleared correctly.
 *
 * @param {color} [$bg=blue] - A color to be lightened, so make sure you pick a darkish color.
 *
 * @example
 *   section
 *     edit(red)
 */

edit($bg = blue)
  *
    background: rgba($bg, 10%)


/**
 * Clearfix used to clear floated children boxes. http://nicolasgallagher.com/micro-clearfix-hack
 *
 * @example
 *   .parent
 *     cf()
 *     .child
 *       box(1/2)
 */

cf()
  *zoom: 1
  &:before, &:after
    content: ''
    display: table
  &:after
    clear: both


/**
 * Vertically and/or horizontally align nested elements.
 *
 * @param {string} [$dir=both] - Direction. Either vertical, v, horizontal, or h. Defaults to both.
 *
 * @example
 *   .parent
 *     align(vertical)
 *     width: 600px
 *     height: 400px
 *     .child
 *       width: 300px
 *       height: 150px
 */

align($dir = both)
  position: relative
  > *
    position: absolute
    transform-style: preserve-3d
    if ($direction == horizontal) or ($direction == h)
      left: 50%
      transform: translateX(-50%)
    else if ($direction == vertical) or ($direction == v)
      top: 50%
      transform: translateY(-50%)
    else if ($direction == reset)
      top: auto
      left: auto
      transform: translate(0, 0)
    else
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)


/**
 * Creates a horizontal or vertical container for blocks. Applies a negative margin on each side of the element depending on it's direction. This is required when adding blocks to negate their outer margins. The row version of this mixin automatically applies clearfix as it's assumed floated elements will be nested within it.
 *
 * @param {string} [$dir=row] - The direction of the nested grid system. Accepts row, column, or both.
 * @param {number} [$gut=$gutter] - The gutter width. This is typically left alone, but if you want a specific box/block combination to have a larger or smaller gutter, you need to specify the same $gut on both types of elements.
 *
 * @example
 *   .parent
 *     box()
 *     .children
 *       block(1/2)
 */

box($dir = row, $gut = $gutter)
  if $dir is row
    cf()
    margin-left: -($gut / 2)
    margin-right: -($gut / 2)
    overflow-y: auto
    height: auto
    if $gut is not 0
      width: s('calc(100% + %s)', $gut)
    else
      width: 100%
  else if $dir is column
    margin-top: -($gut / 2)
    margin-bottom: -($gut / 2)
    overflow-y: hidden
    if $gut is not 0
      height: s('calc(100% + %s)', $gut)
    else
      height: 100%
  else
    margin: -($gut / 2)
    overflow-y: hidden
    if $gut is not 0
      width: s('calc(100% + %s)', $gut)
      height: s('calc(100% + %s)', $gut)
    else
      width: 100%
      height: 100%


/**
 * Creates a box that is a fraction of the size of it's containing element with a margin on each side of the element. You don't need to pass any additional ratios (fractions), as the grid system will make use of calc().
 *
 * @param {fraction} [$fraction=1] - This is a simple fraction of the containing element's width or height depending on $dir.
 * @param {string} [$dir=row] - The direction of the containing grid. Can be row (horizontal grid), column (vertical grid), or both.
 * @param {number} [$gut=$gutter] - The margin on each side of the element used to create a gutter. Typically this is left alone, but if you need to have a specifically large or small gutter, you will need to alter this along with the containing row's gutter so they are the same.
 * @param {boolean} [$output=normal] - Determines what type of code to output. Accepts normal (all styles for a box), init (the initial styles of any box), or bare (just the width of the box). Useful for creating CSS classes with Lost.
 *
 * @example
 *   .parent
 *     box()
 *     .children
 *       block(1/4)
 */

block($fraction = 1, $dir = row, $gut = $gutter, $output = normal)
  if $dir is row
    if $output is init or $output is normal
      if $rtl
        float: right
      else
        float: left
    if $gut > 0
      if $output is normal or $output is bare
        width: s('calc(100% * %s - %s)', $fraction, $gut)
      if $output is normal or $output is init
        height: auto
        margin-left: ($gut / 2)
        margin-right: ($gut / 2)
    if $gut is 0
      if $output is normal or $output is bare
        width: s('calc(100% * %s)', $fraction)
  else if $dir is column
    if $output is init or $output is normal
      width: calc(100% - 30px)
      if $rtl
        float: right
      else
        float: left
    if $gut > 0
      if $output is normal or $output is bare
        height: s('calc(100% * %s - %s)', $fraction, $gut)
      if $output is normal or $output is init
        margin: ($gut / 2)
    if $gut is 0
      if $output is normal or $output is bare
        height: s('calc(100% * %s)', $fraction)
  else
    if $output is init or $output is normal
      width: calc(100% - 30px)
      if $rtl
        float: right
      else
        float: left
    if $gut > 0
      if $output is normal or $output is bare
        width: s('calc(100% * %s - %s)', $fraction, $gut)
        height: s('calc(100% * %s - %s)', $fraction, $gut)
      if $output is normal or $output is init
        margin: ($gut / 2)
    if $gut is 0
      if $output is normal or $output is bare
        width: s('calc(100% * %s)', $fraction)
        height: s('calc(100% * %s)', $fraction)


/**
 * Margin to the left or right of an elements depending on if the fraction passed is positive or negative. Unfortunately it only works for horizontal grids as percentages are determined by container width exclusively.
 *
 * @param {fraction} [$fraction=false] - Fraction of the container to be offset.
 * @param {number} [$gut=$gutter] - How large the gutter involved is, typically this won't be adjusted, but if you have set the boxes for that row to have different gutters than default, you will need to match that gutter here as well.
 *
 * @example
 *   .two-elements
 *     block(1/3)
 *     &:first-child
 *       offset(1/3)
 */

offset($fraction = false, $gut = $gutter)
  if $gut > 0
    if $fraction > 0
      margin-left: s('calc(100% * %s + (%s / 2))', $fraction, $gut)
    if $fraction < 0
      margin-right: s('calc(-100% * %s + (%s / 2))', $fraction, $gut)
  if $gut is 0
    if $fraction > 0
      margin-left: s('calc(100% * %s)', $fraction)
    if $fraction < 0
      margin-right: s('calc(-100% * %s)', $fraction)


/**
 * Source ordering. Useful for having an element appear above or below another element on mobile devices, and then to the opposite side on larger devices. For instance, a sidebar and article. You might want the sidebar to appear before the article on mobile, but be to the right of the article on desktop. This is how that is achieved. Unfortunately it only works for horizontal grids as percentages are determined by container width exclusively.
 *
 * @param {fraction} [$fraction=false] - Fraction of the container to be moved by it's left value.
 * @param {string} [$output=normal] - Determines what styles are compiled. Accepts normal (all styles), init (only initialization styles), or bare (just the left position).
 *
 * @example
 *   .sidebar
 *     @media (min-width: 800px)
 *       block(1/3)
 *       move(2/3)
 *   .article
 *     @media (min-width: 800px)
 *       block(2/3)
 *       move(-1/3)
 */

move($fraction = false, $output = normal)
  if $output is normal or $output is init
    position: relative
  if $output is normal or $output is bare
    left: s('calc(100% * %s)', $fraction)


/**
 * Since row boxes are floated, when they are of unequal height, they will misalign. By setting cycle() you can make sure elements are being cleared on appropriate rows.
 *
 * @param {number} [$item=-1] - The nth-child + 1 element to clear on. If you want a row to be 3 elements wide, then you'd pass 3.
 *
 * @example
 *   .gallery
 *     img
 *       block(1/3)
 *       cycle(3)
 */

cycle($item = -1)
  &:nth-child(n)
    clear: none
  &:nth-child({$item}n + 1)
    clear: both


/**
 * Helper function for returning the width or height of an element.
 *
 * @param {fraction} [$fraction=false] - Fraction of the container.
 * @param {number} [$gut=$gutter] - Gutter unit to be used in the calculation.
 *
 * @example
 *   .element
 *     width: size(1/2)
 *     height: size(1/3)
 */

size($fraction = false, $gut = $gutter)
  if $gut is not 0
    return s('calc(100% * %s - %s)', $fraction, $gut)
  else
    return s('calc(100% * %s)', $fraction)


/**
 * Helper mixin for setting the gutters of an element.
 *
 * @param {string} [$dir=row] - Whether this is a horizontal (row) or vertical (column) grid.
 * @param {number} [$gut=$gutter] - Gutter unit to be used in the calculation.
 *
 * @example
 *   .element
 *     gutters()
 */

gutters($dir = row, $gut = $gutter)
  if $dir is row
    if $gut is not 0
      margin-left: ($gut / 2)
      margin-right: ($gut / 2)
  else if $dir is column
    if $gut is not 0
      margin-top: ($gut / 2)
      margin-bottom: ($gut / 2)
  else
    if $gut is not 0
      margin: ($gut / 2)


html, body
  height: 100%
